<div>
  <%= link_to '&#9650;'.html_safe + ' Parent Directory', posts_path %>
</div>
<hr>

<div class="post-title">
  <h1><%= @post.title %></h1>
</div>

<div class="post-body">
  <%= markdown(@post.body) %>
</div>

<div class="post-footer">
  <hr>
  Created at: <%= @post.created_at %><br>
  Last modified: <%= @post.last_modified %>
</div>
